/* CheckLocation.css */

/* Container styling */
.check-location-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-wrapper {
    display: flex;
    justify-content: space-around;

}



/* Label styling */
.check-location-label {
    margin-bottom: 10px;
    display: block;
}

/* Select styling */
.check-location-select {
    margin-bottom: 15px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Selected location display styling */
.selected-wapper {
    margin: 20px 50px;
    font-weight: bold;
}

.selected-location {
    display: flex;
    justify-content: space-around;

}

/* Selected location item styling */
.selected-location-item {
    margin-bottom: 5px;
}